.page-title
  .container
    %a.btn.btn-primary.pull-right{:href => "", "data-target" => "#newBatchModal", "data-toggle" => "modal", :type => "button"}
      .fa.fa-file-text-o
      New Batch
    %h1 Batches

#main.container
  #batch_action_wrapper 
    %table.table
          
      %tbody
        - @batches.each do |batch|
          %tr
            %td
              %h3
                = link_to batch.name, batch_path(batch)
              %p.text-muted
                = batch.actual_brew_date.strftime("%B %e, %Y")
            %td
            %td.text-right
              = link_to 'Edit', edit_batch_path(batch), :class => "btn btn-default btn-sm"
