#main.container
  %h1
    Dashboard

  .row
    .col-sm-4
      %ul
        %li
          Someone created a batch with your recipe!
        %li
          Someone liked your recipe
        %li
          Someone wrote a review of your recipe
    .col-sm-4
    .col-sm-4