#recipe_header_wrapper.page-title
  .container
    %h1 Breweries

#main.container
  %table.table
    %tbody
      - @breweries.each do |brewery|
        %tr
          %td
            %h3
              =link_to brewery.name, brewery_path(brewery)
          %td= brewery.slogan

  %br

  = link_to 'New Brewery', new_brewery_path, :class => "btn btn-primary"
