#main.container
  .row
    .col-md-3
      = render "public_facing/breweries/vcard"
    .col-md-9
      = render "public_facing/breweries/subnavigation"

      - @activities.each do |activity|
        = ActivityPresenter.new(activity, self).render_activity