%section#additional
  #recipe_additions_wrapper
    %h4 Additional
    .form-inputs
      .form-group
        = f.input :additional_notes, :input_html => { :class => "form-control autosize" }, :label => "Notes"