= link_to 'Edit Profile', edit_brewery_path(@brewery), :class => "pull-right btn btn-default btn-sm"

%ul.nav.nav-tabs
  %li{:role => "presentation", :class => ("active" if @tab_title == "brewery_home")}
    = link_to "Dashboard", brewery_path(@brewery)
  %li{:role => "presentation", :class => ("active" if @tab_title == "brewery_batches")}
    = link_to "Batches", brewery_batches_path(@brewery)