= link_to 'Edit Brewery', edit_brewery_path(@brewery), :class => "pull-right btn btn-default btn-sm"

%ul.nav.nav-tabs
  %li{:role => "presentation", :class => ("active" if @tab_title == "brewery_home")}
    = link_to brewery_path(@brewery) do
      .fa.fa-bullhorn
      Activity
  %li{:role => "presentation", :class => ("active" if @tab_title == "brewery_batches")}
    = link_to brewery_batches_path(@brewery) do
      .fa.fa-book
      Batches
  %li{:role => "presentation", :class => ("active" if @tab_title == "brewery_members")}
    = link_to brewery_members_path(@brewery) do
      .fa.fa-users
      Members