.container
  .row
    .col-sm-4.col-sm-offset-4
      .form-mini-wrapper
        %h1 Add a Brewery

        %p.lead.small
          Batches are organized within breweries to keep things straight

        = render 'form'
