// Place all the styles related to the Batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#batch_action_wrapper {
  margin: 10px auto;
}

#batch_header_wrapper,
#recipe_header_wrapper {
  margin: 30px;
  h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  ul, ol {
    margin-bottom: 0px;
  }
}

#glassware_calculation_table {
  tbody > tr > th {
    font-size: 10px;
  }
  border: 1px solid #ccc;
}