.form-mini-wrapper {
  border: none;
  padding: 0px; 
}

.form-actions {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 13px;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 0px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.input-group .form-control {
  height: 33px;
}

h1, .h1, h2, .h2, h3, .h3 {
  text-transform: uppercase;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.form-control,
.input-group .form-control {
  display: block;
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control.active-floatlabel {
  height: 50px;
}

label {
  top: 15px;
  left: 15px;
  font-size: 10px;
  font-weight: 400;
  color: #959595;
  text-transform: uppercase;
}

.label-floatlabel {
  margin-top: 5px;
  text-transform: uppercase;
}

.hidden-toggle {
  display: none;
}