%footer.footer
  .container
    .row
      .col-sm-4
        %h4
          Brewing Resources
        %ul.list-unstyled
          %li= link_to "Beer Styles", beer_styles_path
          %li= link_to "Recipes", recipes_path
      .col-sm-4
      .col-sm-4
